//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        a.top-nav--logo-link(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/")
          h3.heading.left nlc 
            span.top-nav--logo-wdc politics-canada
        nav.top-nav--nav
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html") About
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/") References

    div.row.header
      div.container
        div.avatar.img-container.col-lg-2.col-md-2.col-sm-2.hidden-xs
          img.service-icon(src='/images/canada-flag.jpg')

